.Rhistory
.Rapp.history
.DS_Store

.RData

*-Ex.R

/*.tar.gz

/*.Rcheck/

.Rproj.user/

vignetttes/*.html

vignetttes/*.pdf

httr-oauth

/*_cache/
/cache/

*.utf8.md
*.knit.md

rsconnect/

.ipynb_checkpoints/
__pycache__

.vs/
server.py
template.yml